<link rel="import" href="../polymer/polymer-element.html">

<dom-module id="fotosocial-user-login-dm">
  <template>
    <style>
      :host {
        display: block;
      }
    </style>
    <h2>Hello [[prop1]]!</h2>
  </template>

  <script>
    /**
     * `fotosocial-user-login-dm`
     * Data manager for user login
     *
     * @customElement
     * @polymer
     * @demo demo/index.html
     */
    class FotosocialUserLoginDm extends Polymer.Element {
      static get is() { return 'fotosocial-user-login-dm'; }
      static get properties() {
        return {
          prop1: {
            type: String,
            value: 'fotosocial-user-login-dm'
          }
        };
      }
    }

    window.customElements.define(FotosocialUserLoginDm.is, FotosocialUserLoginDm);
  </script>
</dom-module>
