<link rel="import" href="../polymer/polymer-element.html">

<dom-module id="fotosocial-user-login-dm">
  <template>
  </template>

  <script>
    /**
     * `fotosocial-user-login-dm`
     * Data manager for user login
     *
     * @customElement
     * @polymer
     * @demo demo/index.html
     */
    class FotosocialUserLoginDm extends Polymer.Element {
      static get is() { return 'fotosocial-user-login-dm'; }
      static get properties() {
        return {
          user: {
            type: Object,
            value: {}
          },
          isValidUser: {
            type: Boolean,
            value: false
          }
        };
      }

      validateUser() {
        let fotosocialData = localStorage.getItem('fotosocial') ? JSON.parse(localStorage.getItem('fotosocial')) : false;
        
        if (fotosocialData) {
          let response = {};
          const userFound = fotosocialData.users.find(user => user.user === this.user.user && user.password === this.user.password);          

          if(userFound !== undefined) {
            response = {
              isUserValid: true,
              goTo: 'fotosocialDashboard'
            };
          } else {
            response = {
              isUserValid: false
            };
          }

          this.dispatchEvent(new CustomEvent('validate-user-response', {
              bubbles: true,
              composed: true,
              detail: response
          }));
        }
      }

    }

    window.customElements.define(FotosocialUserLoginDm.is, FotosocialUserLoginDm);
  </script>
</dom-module>
